*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
	
}
a:link, a:visited, a:active {
    text-decoration:none;
}

body{
	background: #1f2023;
}
header{
	position: fixed;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background:linear-gradient(30deg, #eaff6a,#dc69f5, #dc69f5, #dc69f5, #eaff6a);
	padding: 23px 13%;
	transition: all .40s ease;
}
.logo img{
	height: auto;
	width: 160px;
	max-width: 100%;
}
.navbar{
	display: flex;
}
.navbar a{
	color: #ffffff;
	font-weight: 600;
	padding: 10px 22px;
	transition: all .40s ease;
}
.navbar a:hover{
	color:#eaff6a;
}
.header-icons{
	display: flex;
	align-items: center;
}
.header-icons i{
	margin-left: 10px;
	font-size: 24px;
	color: #ffffff;;
	transition: all .40s ease;
	margin-right: 15px;
}
.header-icons i:hover{
	transform: scale(1.2);
	color: #eaff6a;
}
#menu-icon{
	font-size: 34px;
	color: #ffffff;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

section{
	padding: 80px 13%;
}



.inicio{
	position: relative;
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	align-items: center;
}
.inicio-text h1{
	color: #ffffff;
	margin: 15px 0 15px;
	font-size: 50px;
}
.inicio-text h6{
	color: #eaff6a;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
}
.inicio-text p{
	color: #eaff6a;
	font-weight: 500;
	margin-bottom: 48px;
}
.latter form{
	
	width: 100%;
	max-width: 460px;
	position: relative;
}
.latter form input:first-child{
	background-color: #ffffff;
	display: inline-block;
	width: 100%;
	outline: none;
	padding: 16px 140px 16px 15px;
	border: 2px solid var(--main-color);
	border-radius: 30px;
}
.latter form input:last-child{
	background-color: #eaff6a;
	position: absolute;
	display: inline-block;
	border: none;
	outline: none;
	background: #eaff6a;
	color: #1f2023;
	padding: 14px 40px;
	border-radius: 30px;
	cursor: pointer;
	top: 2px;
	right: 1px;
}
.inicio-img img{
	height: auto;
	width: 100%;
	text-align: center;
	
}


.contenedor{
	padding: 30px 13%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 1.5rem;
	align-items: center;
	cursor: pointer;
}
.contenedor-box{
	display: flex;
	align-items: center;
	gap: 1.8rem;
	border: 1px solid #e9ecef;
	border-radius: 20px;
	padding: 20px 30px;
	box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%);
	transition: all .40s ease;
}

.contenedor-img{
	width: 70px;
	height: 60px;
	display: flex;

}

.contenedor-box:hover{
	transform: translateY(-15px);
}
.contenedor-text h4{
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 4px;
}
.contenedor-text p{
	color: #eaff6a;
	font-weight: 500;
}

.center-text{
	text-align: center;
}
.center-text h5{
	color: #ffffff;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.center-text h2{
	line-height: 1.2;
}


.intro-content{
	display: flex;
	justify-content:center;
}

.intro p{
	width: 100%;
	color: #030c14;
	background:linear-gradient(30deg,#dc69f5, #eaff6a);
	padding: 30px 30px;
	border-radius: 5px;
	
	margin: 10px;

}

.intro-img{
	height: 300px;
	width: 400px;
	display: flex;
}

.intro-horarios spam{
	text-align: center;
	color: #ffffff;

}
.intro-horarios h5{
	text-align: center;
	color: #eaff6a;

}

/* Para Empresas */
.empresa{
	
	width: 100%;
	background-position: center;	
	
}
.empresa p{
	color: #ffffff;
	text-align: center;
	border: 1px solid #eaff6a; 
	border-radius: 11px;
	padding: 20px 30px;
	box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%);
	
}
.empresa h1{
	padding: 80px;
	color: #ffffff;
	font-size: 50px;
	text-align: center;
	display: flex;
}

.empresa-img img{
	padding: 10px;
	width: 100%;
	display: block;
	margin: auto;
}

.empresa-button{
	
color: #ffffff;
margin-bottom: 18px;
text-align: center;
}

.empresa button{
	background-color: #eaff6a;
	color: #1f2023;
	padding: 14px 30px;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
	
}

.empresa h2{
	background:linear-gradient(30deg,#eaff6a, #dc69f5);
	color: #ea90ff;
	text-align: center;
	padding: 40px 40px;

}

.empresa h4{
	color: #ea90ff;
	text-align: center;
	padding: 40px 40px;
	

}
spam{
	color: #030c14;
}



/* Cursos */
.cursos p{
	color: #ffffff;
	text-align: center;
	border: 1px solid #eaff6a; 
	border-radius: 11px;
	padding: 20px 30px;
	box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%);
}
.cursos h1{
	padding: 80px;
	color: #ffffff;
	font-size: 50px;
	text-align: center;
	display: flex;

}

.cursos-img img{
	padding: 10px;
	width: 100%;
	display: block;
	margin: auto;
}

.cursos-li{
	color: #dc69f5;
	margin-bottom: 18px;
	text-align: center;
	border: 1px solid #eaff6a; 
	border-radius: 11px;
	padding: 20px 30px;
	box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%);

}

.cursos-li li a:hover{
	transform: translateX(10px);
	color: #eaff6a;
}

.cursos-li li a{
	display: block;
	color: #ffffff;
	font-weight: 500;
	font-size: 15px;
	transition: all .40s ease;
}


/* Carreras */

.carreras-li{	
	color: #dc69f5;
	margin-bottom: 18px;
	text-align: center;
	border: 1px solid #eaff6a; 
	border-radius: 11px;
	padding: 20px 30px;
	box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%);
}

.carreras-li li a:hover{
	transform: translateX(10px);
	color: #eaff6a;
}

.carreras-li li a{
	display: block;
	color: #ffffff;
	font-weight: 500;
	font-size: 15px;
	transition: all .40s ease;
}



/* Sobre Nosotros */
.sobre-nosotos-text p{
	color: #ffffff;
	text-align: center;
	border: 1px solid #dc69f5; 
	border-radius: 11px;
	padding: 20px 30px;
	box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%);
}
.sobre-nosotos h1{
	padding: 30px;
	color: #ffffff;
	font-size: 50px;
	text-align: center;
}

.nosotros-img img{	
	width: 100%;
	display: flex;
}

.mision-vision{
    width: 100%;
	padding:30px;
	margin: 30px;
	text-align: center;
	background:linear-gradient(30deg,#eaff6a, #dc69f5);
	font-size: 20px;
 	
}
.mision-vision h3{
	color: #030c14;
}


/*CONTACTOS*/

.contactos p{
	color: #eaff6a;
	text-align: center;
	border: 1px solid #dc69f5; 
	border-radius: 11px;
	padding: 20px 30px;
	margin: 20px;
	box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%);
}
.contactos h1{
	padding: 30px;
	width: 100%;
	color: #ffffff;
	font-size: 45px;
	text-align: center;
	display: flex;

}

.contactos-maps{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}

.contactos-maps iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}



.contacto{
	padding: 60px 13%;
}
.main-contacto{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	gap: 2rem;
}
.contacto-content img{
	height: auto;
	width: 160px;
	max-width: 100%;
	margin-bottom: 30px;
}
.contacto-content li{
	color: #ffffff;
	margin-bottom: 18px;
}
.contacto-content li a{
	display: block;
	color: #ffffff;
	font-weight: 500;
	font-size: 15px;
	transition: all .40s ease;
}
.contacto-content li a:hover{
	transform: translateX(10px);
	color: #eaff6a;
}



.last-text p{
	text-align: center;
	padding: 18px;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
}

@media (max-width: 1410px){
	header{
		padding: 10px 3%;
		transition: .2s;
	}
	header.sticky{
		padding: 12px 3%;
		transition: .2s;
	}
	section{
		padding: 70px 3%;
		transition: .2s;
	}
	.contenedor{
		padding: 70px 3%;
		transition: .2s;
	}
	.contacto{
		padding: 60px 3%;
		transition: .2s;
	}

}


@media (max-width: 1025px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 300px;
		height: 110vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 170px 30px;
		transition: all .40s ease;
	}
	.navbar a{
		display: block;
		margin: 1.3rem 0;
	}
	.navbar a:hover{
		transform: translateY(-5px);
	}
	
}

@media (max-width: 890px){
	.inicio{
		height: 150vh;
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}
